        header {
            text-align: center;
            border: 30px double rgb(119, 197, 167);

        }

        html {
            background-color:
                rgba(255, 100, 155, 0.5);

            }

        h1 {
            background: rgba(200, 255, 255, .5);



        }

        h2 {
            font-style: italic;
            background: radial-gradient(square, rgb, 155, 255, 255)0%, rgb(05, 50, 100)20%;
            background: rgba(170, 119, 41, .7);
        }

        h3 {
            background: rgba(211, 150, 38, 0.6);
        }

        p {
            background: rgba(155, 155, 155, .5);
        }

        #copy {
            font-style: italic;
            color: blue;
        }

        a {
            color: black;
        }

        

        a:focus {
            color: cornsilk;
        }

        a:hover {
            color: cornsilk;
        }
     