        header {
            text-align: center;
            border: 3px double brown;
            
        }

        html {
            background-color: 
            salmon;
        }
        h2 {font-style: italic;}